$primary: #0c419a;
$secondary: #EEF2F8;
$tertiary: #2f384d;
$white: #fff;
$gray: #ccc;
$black: #000;

$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.75rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1rem;
$font-size-p: 1rem;
$font-size-small: 0.875rem;

$succes: #4CAF50;
$succes-light: #D4EDDA;
$warning: #FFC107;
$warning-light: #FFF3CD;
$error: #DC3545;
$error-light: #F8D7DA;