@import "./vars";

*,
*::after,
*::before {
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background-color: $secondary;
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;

  > main {
    padding: 1rem;
  }
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

p {
  font-size: $font-size-p;
}

a:not(.btn) {
  text-decoration: none;
  color: $primary;

  &:hover {
    text-decoration: underline;
  }
}
