{% extends "base.html.twig" %}

{% block title %}
	Toutes les recettes
{% endblock %}


{% block body %}
	<a href="{{ url("home") }}">Home</a>
	<h2>{{ recipe.title }}</h2>
	<p>{{ recipe.description }}</p>
    {{form(form)}}
{% endblock %}
